<h4 md-dialog-title>Recover Password</h4>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" >
  <md-dialog-content>
    <md-card>
      <md-input-container class="w100p">
        <input type="text"
        formControlName="field_0_email"
        [ngModel]="somethingChild?.email"
        mdInput placeholder="Your e-mail here">
      </md-input-container>

      <md-error *ngIf="forgotPasswordForm.controls.field_0_email.hasError('required') && forgotPasswordForm.controls.field_0_email.touched">
        Campo obrigatório
      </md-error>

      <md-error *ngIf="!forgotPasswordForm.controls.field_0_email.hasError('required') && !forgotPasswordForm.controls.field_0_email.valid && forgotPasswordForm.controls.field_0_email.touched">
        Invalid email
      </md-error>
    </md-card>
  </md-dialog-content>

  <md-dialog-actions>
      <button type="submit" md-raised-button [disabled]="!forgotPasswordForm.valid">
        Send recover link
      </button>
  </md-dialog-actions>
</form>