@media screen and (max-width: 800px) {
  .float-left {
    clear: both;
    margin: 0 0 20px 0;
    top: 0; right: 0; bottom: 20px; left: 0;
    width: 100%;
  }
  
  .float-right {
    clear: both;
    margin: 0 0 20px 0;
    top: 0; right: 0; bottom: 20px; left: 0;
    width: 100%;
  }
}