md-toolbar {
    position: fixed;
    top: 0;
    background: #f1d009;
    color: #000;
    z-index: 100;
}

#router-outlet {
    position: relative;
    margin: 0 auto;
    top: 60px;
}

#senai-icon {
    height: 40px;
    vertical-align: middle;
}

#toolbar-title {
    color: #000;
    margin: 0 0 0 30px;
    padding: 0;
}

@media only screen and (max-device-width: 320px) {

        #toolbar-title{
            margin: 0;
        }

        .div-form-pattern {
            background-color: transparent;
            font-size: 16px; 
            padding: 10px 0 10px 5px; 
            vertical-align: middle;
        }

}