<div *ngIf="errors.length < 1">
  <!--Toolbar area: start -->
  <md-card>
    <md-toolbar *ngIf="params.toolbar">
      <div id="toolbar-title" *ngIf="!searchInput">{{params.toolbar.title}}</div> 
      
      <div id="toolbar-spacer" *ngIf="!searchInput"></div>

      <div  id="toolbar-action">
        <form [formGroup]="searchForm">
          <a><md-icon *ngIf="params.toolbar && params.toolbar.delete && (checkAllController || checkedItem)" (click)="openDialogToDelete(params.toolbar.delete)" class="vertical-align-m">delete</md-icon></a>
          
          <a><md-icon class="vertical-align-m" *ngIf="params.toolbar && params.toolbar.search" (click)="searchInputToggle()">search</md-icon></a>
          
          <md-select class="font-pattern" placeholder="{{placeholderToSearch}}" formControlName="searchSelect" *ngIf="searchInput">
            <md-option *ngFor="let header of arrayHeader; let i = index;" [value]="params.list.show[i]">{{header}}</md-option>
          </md-select>
          
          <md-input-container class="search-pattern" *ngIf="searchInput" style="margin-top:2px;">
            <input type="text" mdInput placeholder="Pesquisar" formControlName="search" (keyup)="search()">
          </md-input-container>
          
          <md-icon *ngIf="params.toolbar && params.toolbar.more">more_vert</md-icon>
        </form>
      </div>
    </md-toolbar>
    <!--Toolbar end -->

    <!--List area: start -->
    <form [formGroup]="listForm" class=""> 
      <md-progress-bar mode="indeterminate" *ngIf="isLoadingList"></md-progress-bar>

      <table *ngIf="!isLoadingList && arraySourceSearch.length>=1">
        
        <tr>
          <th id="list-item-checkbox" *ngIf="params.toolbar && params.toolbar.delete">
            <md-checkbox (change)="checkAllToggle($event)" [checked]="checkAllController" ></md-checkbox>
          </th>

          <th *ngFor="let header of arrayHeader; let i = index;">
            {{ header }} <a><md-icon class="md-18" *ngIf="params.list.order" (click)="onClickOrder(i)">sort</md-icon></a>
          </th>

          <th class="list-item-actions" *ngIf="params.list.edit || params.list.delete">
            
          </th>
        </tr>
        <tr class="list-item" *ngFor="let data of arraySourceSearch; let i = index">
          <td *ngIf="params.toolbar && params.toolbar.delete" [ngStyle]="{'background-color': arraySource[i].backgroundColor, 'color': arraySource[i].color}">
            <md-checkbox class="list-item" [checked]="checkAllItens" (change)="checkItem(i, $event)" formControlName="deleteField"></md-checkbox> {{testingThisShit}}
          </td>
          <td *ngFor="let item of data; let j = index" [ngStyle]="{'background-color': arraySource[i].backgroundColor, 'color': arraySource[i].color}">
            <span> {{ item }} </span>
          </td>
          <td class="list-item-actions" *ngIf="params.list.edit" [ngStyle]="{'background-color': arraySource[i].backgroundColor, 'color': arraySource[i].color}">
            <a *ngIf="params.list.edit" (click)="onClickEdit(params.list.edit.route, arraySource[i][params.list.edit.param])"><md-icon>edit</md-icon></a>
          </td>
        </tr>
        
      </table>
       <div *ngIf="arraySourceSearch.length < 1"> <br> <p class="text-fix" *ngIf="!isLoadingList">Não existe dados na lista.</p> <br> </div> 
    </form>
    <!--List area: end -->

    <!--Action toolbar area: start -->
    <div class="clear-both"></div>
     <md-toolbar class="w100p" *ngIf="!isLoadingList && params.actionToolbar">
      <form [formGroup]="listController" class="w100p">
        <div class="div-form-pattern float-left">
          <!-- Select the limit view page -->
          <md-select placeholder="{{placeholderToRowsPerPage}}" formControlName="row"
          (change)="onChangeLimit($event)" *ngIf="arraySourceSearch.length > 0">
            <md-option *ngFor="let row of params.actionToolbar.rows" [value]="row">
              {{row}}
            </md-option>
          </md-select>
        </div>
        
        <div class="div-form-pattern float-right">
          <div class="div-form-pattern float-left">
            <a><md-icon (click)="onClickPage('subtract')" *ngIf="pageCurrent != 1">keyboard_arrow_left</md-icon></a>
          </div>

          <div class="div-form-pattern float-left">
            <a><md-icon (click)="onClickPage('add')" *ngIf="pageCurrent < pageTotal">keyboard_arrow_right</md-icon></a>
          </div>

          <div class="div-form-pattern float-left mt10" *ngIf="arraySourceSearch.length > 0">
            <span *ngIf="!isMobile">{{pageCurrent}} {{placeholderToPage}} {{pageTotal}}</span>
          </div>
        </div>

        <div class="clear-both"></div>
      </form>
    </md-toolbar>
    <!--Action toolbar area: end -->
  </md-card>
</div>
  
<div *ngIf="errors.length > 0">
  <div *ngFor="let error of errors">
    <md-error>
      {{error.message}}
    </md-error>
  </div>
</div>