<div *ngIf="errors.length < 1">
  <div id="form">
    <md-input-container>
      <input mdInput [placeholder]="params.placeholder" (focusin)="showList($event)" 
      (focusout)="showList($event)" autocomplete="off"
      (keydown)="listNavigation($event)" (keyup)="filter($event)" [formControl]="itemCtrl">
    </md-input-container>
  </div>

  <div id="add-button">
    <md-icon *ngIf="addButton" (click)="createMultipleObject(itemCtrl.value)" >add</md-icon>
  </div>

  <div class="clear-both"></div>

  <md-card id="list-toggle" *ngIf="showListToggle">
    <div id="list-item" *ngFor="let item of filteredList; let i = index">
      <div [ngStyle]="{'top': top + 'px', 'position': 'relative'}">
        <div *ngIf="checkItemIndex == i" class="color-item item-size" (mousedown)="objectListNavigation(i)">{{item.description}}</div>
        <div *ngIf="checkItemIndex != i" class="item-size" (mousedown)="objectListNavigation(i)">{{item.description}}</div>
      </div>
    </div>
  </md-card>

  <md-chip-list class="mat-chip-list-stacked">
    <md-chip *ngFor="let chipItem of arrayOfObjects; let i = index">
      <div class="object">{{chipItem.description}}</div>
      <md-icon class="clear-icon" (click)="removeItemFromObject(i)">clear</md-icon>
      <div style="clear: both;"></div>
    </md-chip>
  </md-chip-list>
</div>

<div *ngIf="errors.length > 0">
  <md-error *ngFor="let error of errors">{{ error.message }}</md-error>
</div>