<md-card class="mt10">
  <h2><b>{{title}}</b></h2>  
  <hr>
  
  <form (ngSubmit)="onScheduleSubmit()" [formGroup]="mainForm">
    <div class="float-left mr10 div-form-pattern">
      <div class="float-left">
        <md-icon>person</md-icon>
      </div>
      <div class="float-left">
        <ntm-multiple-select 
        [params]="paramsToSellerMultipleSelect"
        (multipleSelectEventEmitter)="sellerMultipleSelectEventEmitterHandle($event)">
        </ntm-multiple-select>
      </div>
    </div>

    <div class="float-left mr10 div-form-pattern" *ngIf="paramsToBuyerMultipleSelect">
      <div class="float-left">
        <md-icon>person</md-icon>
      </div>
      <div class="float-left">
        <ntm-multiple-select 
        [(params)]="paramsToBuyerMultipleSelect">
        </ntm-multiple-select>
      </div>
    </div>

    <div class="float-left mr10 div-form-pattern" *ngIf="paramsToWindowMultipleSelect">
      <div class="float-left">
        <md-icon>person</md-icon>
      </div>
      <div class="float-left">
        <ntm-multiple-select 
        [(params)]="paramsToWindowMultipleSelect">
        </ntm-multiple-select>
      </div>
    </div>
    
    <div class="clear-both"></div>
    <!--<div class="float-left mr10 div-form-pattern">
      <div class="float-left">
        <md-icon>person</md-icon>
      </div>
      <md-input-container>
        <input mdInput type="text" placeholder="Vendedor"
        formControlName="institution_name" maxlength="191">
      </md-input-container>
    </div>

    <div class="clear-both"></div>

    <md-card-actions>
      <button md-raised-button type="submit" color="primary" [disabled]="!mainForm.valid">{{submitButton}}</button>
    </md-card-actions>-->
  </form>
</md-card>

<div class="list mt20">
  <ntm-table-data [params]="paramsToTableData" *ngIf="paramsToTableData"></ntm-table-data>
</div>