<div id="transparent-back" *ngIf="toggle" (click)="onToggle($event)"></div>

<div id="sidenav"
*ngIf="toggle"
[@myAnimation]>
  <span 
  *ngFor="let menu of params.menuSettings; let i = index;"
  [ngStyle]="{ 'position': 'absolute', 'top': 40*(i+3)+'px', 'left': '20px', 'font-size': '16px'}">
    <a (click)="onMenuRoute(menu.route)">{{menu.description}}</a>
  </span>
</div>

<span *ngIf="errors.length < 1" class="menu-icon">
  <a (click)="onToggle($event)">
    <md-icon class="md-18" *ngIf="!toggle" class="mr20">{{mdIconOpen}}</md-icon>
  </a>  
</span>

<span *ngIf="toggle" [@firstAnimation] class="menu-icon">
  <a (click)="onToggle($event)">
    <md-icon class="md-18" *ngIf="toggle" class="mr5">{{mdIconClose}}</md-icon>
  </a>
  <span id="username">{{userName}}</span>
  <div>
    <md-icon class="md-18" class="mr20">settings</md-icon>
    <md-icon class="md-18" class="mr20">person</md-icon>
    <md-icon class="md-18" class="mr20">help</md-icon>
    <ntm-logout [params]="{route: ['/login']}"></ntm-logout>
  </div>
</span>

<span *ngIf="errors.length > 0">
  <md-error *ngFor="let error of errors">{{error.cod}} - {{error.message}}</md-error>
</span>