/* You can add global styles to this file, and also import other style files */
@import './assets/css/reset.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

a {
    cursor: pointer;
}

body {
    background: #e0f2f1;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    z-index: 999;
}

h2 {
    font-size: 20px;
}

md-error {
    font-size: 10px;
}

/* When the input is not focused */
md-toolbar md-input-container label {
    color: #fff;
}

/* When the input is focused */
md-toolbar md-input-container.md-input-focused label {
    color: #C9CCCC;
}

/* When select is not focused on toolbar*/
.md-select-alternative .mat-select-arrow,
.md-select-alternative .mat-select-disabled .mat-select-value,
.md-select-alternative .mat-select-trigger {
    color:#fff;
    font-size: 14px;
}

.md-select-alternative .mat-select-underline {
    background: #fff;
}

.md-select-alternative .mat-select.mat-primary .mat-select-value {
    color: #fff;
}

/* When select is focused on toolbar*/
.md-select-alternative .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow,
.md-select-alternative .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
    color: #C9CCCC;
}

.md-select-alternative .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
    background: #C9CCCC;
}

.md-select-alternative .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-value {
    color:#fff;
}

.clear-both {
    clear: both;
}

.div-form-pattern {
    background-color: transparent;
    font-size: 14px; 
    padding: 10px 0 10px 0; 
    vertical-align: middle;
}

.div-form-pattern md-icon {
    padding-top: 12px;
}

.div-form-pattern md-select {
    padding-top: 8px;
}

.div-form-pattern md-select .mat-select-placeholder {
    font-size: 14px;
    padding-top: 2px;
}

.div-form-pattern button[md-mini-fab] {
    margin-top: 0;
}

.div-form-pattern button[md-mini-fab] md-icon {
    margin-top: -10px;
}

.div-form-pattern md-form-field md-icon {
    padding-top: 0;
}

.div-form-pattern md-slide-toggle {
    padding-top: 16px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.vertical-align-m {
   vertical-align: middle; 
}

.lk {
    border: 1px solid red;
}

.overflow::after {
    content: "";
    clear: both;
    display: table;
}

.mr5 { margin-right: 5px; } .mr10 { margin-right: 10px; } .mr15 { margin-right: 15px; } .mr20 { margin-right: 20px; }

.mt5 { margin-top: 5px; } .mt10 { margin-top: 10px; } .mt15 { margin-top: 15px; } .mt20 { margin-top: 20px; }

.pr5 { margin-right: 5px; } .pr10 { margin-right: 10px; } .pr15 { margin-right: 15px; } .pr20 { margin-right: 20px; }

.pt5 { margin-top: 5px; } .pt10 { margin-top: 10px; } .pt15 { margin-top: 15px; } .pt20 { margin-top: 20px; }

.spacer {
    flex: 1 1 auto;
}

.table-list {
    border-bottom: 1px solid;
}

.w20 { width: 20px; } .w30 { width: 30px; } .w40 { width: 40px; } .w50 { width: 50px; } .w100 { width: 100px; } .w200 { width: 200px; } .w300 { width: 300px; } 
.w50 { width: 50px; } .w100 { width: 100px; } .w110 { width: 110px; }
.w120 { width: 120px; } .w130 { width: 130px; } .w140 { width: 140px; } 
.w160 { width: 160px; } .w200 { width: 200px; } .w300 { width: 300px; } .w290 { width: 290px; } 
.w400 { width: 400px; } .w500 { width: 500px; } .w600 { width: 600px; }

.w5p { width: 5%; } .w10p { width: 10%; } .w20p { width: 20%; } .w30p { width: 30%; } .w40p { width: 40%; } .w45p { width: 45%; }
.w49p { width: 49%; } .w50p { width: 50%; } .w60p { width: 60%; } .w70p { width: 70%; } .w80p { width: 80%; } .w90p { width: 90%; }
.w100p { width: 100%; }

.h50 { height: 50px; } .h70 { height: 70px; } .h100 { height: 100px; } .h200 { height: 200px; } 
.h300 { height: 300px; } .h400 { height: 400px; } .h500 { height: 500px; } .h600 { height: 600px; }

.h5p { height: 5%; } .h10p { height: 10%; } .h20p { height: 20%; } .h30p { height: 30%; } .h40p { height: 40%; } .h45p { height: 45%; }
.h49p { height: 49%; } .h50p { height: 50%; } .h60p { height: 60%; } .h70p { height: 70%; } .h80p { height: 80%; } .h90p { height: 90%; }
.h100p { height: 100%; }